
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

body {
    color: $black;
    font-family: $font-family;
}

p {
    line-height: 1.4;
}

a.link {
    font-weight: 300;
    text-decoration: underline;
    color: $primary;

    &:hover {
        color: $primary;
    }
    
}

.no-margin { 
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.button {
    color: $primary;
    border: 1px solid $primary;
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    transition: all 0.1s ease-in-out;
    font-size: $font-sm;

    &:hover {
        background-color: $primary;
        text-decoration: none;
        color: white;
    }
}


.navigation {

    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    align-content: stretch;
    justify-content: center;
    height: auto;
    background: white;
    font-size: $font-md;
    padding: 10px;
    z-index: 2;
    transform: translateZ(0px);
    transition: transform 0.4s ease-in-out;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;

    &.hidden { 
        transition: all 0.4s ease-in-out;
        -ms-transform: translateY(-101%);
        transform: translateY(-101%);
        visibility: hidden;
    }

    p { margin: 0px; }

    ul {

        display: flex;
        align-content: stretch;
        justify-content: center;
        padding-left: 0px;
        margin: 0px;

        .list-item { 
            
            text-decoration: none;
            list-style: none;
            display: inline-flex;
            padding: 10px;

            &__link {

                display: flex;
                align-content: stretch;
                text-decoration: none;
                align-self:  center;
                color: black;

                &:hover {  color: grey; }

                &:focus { 
                    outline: 0px; 
                }

            }
        
        }

    }

}

section  {

    .title {
        font-family: $font-title;
        color: $primary;
    }

    &.presentation {
        margin-top: 5%;
    }

    .presentation {

        &-wrapper {
            align-content: center;

            .title { margin-bottom: 20px; }

            .social {
                padding-left: 0px;
                margin-bottom: 40px;

                &-item {

                    list-style: none;
                    display: inline;

                    &__link { 
                        color: $primary;
                        font-size: $font-lg;
                        margin: 0px 5px;

                        &:hover {

                            opacity: 0.5;
                            text-decoration: none;

                        }
                     }
    
                }
    
            }

        }

        &__title {

            font-size: $font-xxl;
            font-family: $font-title;
            font-weight: normal;
            align-content: center;
            color: $primary;
            margin-bottom: 40px;

        }

    }

}


.talk {
    padding: 20px 0px;
    border-bottom: 1px solid $grey-light;
}

.talk-date { font-size: $font-sm;  }

footer {

    display: grid;
    left: 0;
    right: 0;
    align-content: stretch;
    justify-content: center;
    height: auto;
    padding: 20px 0px;

    .date {
        display: grid;
        justify-content: center;
        margin-bottom: 0px;
        font-weight: bold;
        word-spacing: 0.5em;
        font-size: $font-sm;
    }

    .icons {
        margin-bottom: 0px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 20px);
    }

}

.footer {
    color: $primary;

    &-logo {
        width: 50px;
        display: inline-block;
    }
}

@media (max-width: 575px) {

    .presentation {
        padding-top: 40px;
        padding-bottom: 40px;
        height: auto;

        .presentation__title { font-size: $font-xxl; }
    }

    .portfolio__article {
        border-radius: 0px !important;
    }

    .icon {
        width: 25px;
    }
}

