@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Yantramanav');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@font-face { 
    font-family: 'Bastia'; 
    src: local('Bastia'), 
        url(/fonts/WOFF/Bastia-Bold.woff2) format('woff2'), 
        url(/fonts/WOFF/Bastia-Bold.woff) format('woff'), 
        url(/fonts/TTF/Bastia-Bold.ttf) format('truetype'), 
        url(/fonts/TTF/Bastia-Bold.otf) format('opentype'), 
        url(/fonts/OTF/Bastia-Bold.eot) format('embedded-opentype'); 
}


// Variable Colors

$grey-light: #eeeeee;
$blue-grey: #607D8B;
$primary: #000000;
$secondary: #e9509c;
$black: #444444;

//Font Sizes

$font-family: 'Work Sans', sans-serif -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$font-title: 'Bastia', serif;
$font-xs: 0.05em;
$font-sm: 0.88em;
$font-md: 18px;
$font-lg: 1.33em;
$font-xl: 1.55em;
$font-xxl: 3.3em;

* {
    margin: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: $font-md;
}


@import 'layout'