@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Yantramanav');


// Variable Colors

$grey: #bbbbbb;
$grey-dark: #dddddd;
$grey-light: #eeeeee;
$blue-grey: #607D8B;
$primary: #4059a8;
$secondary: #e9509c;
$black: #444444;
$purple-middle: #9839a0;
$purple-light: #E1BCF2;
$orange: #f7901e;

//Font Sizes

$font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 28px;
$font-xxl: 60px;

* {
    margin: 0px;
}

body {
    background-color: #f1f1f1;
    font-family: 'Yantramanav', 'Arial', sans-serif;
}


@import 'layout'